<h1>Create bookmark !</h1>

<div>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>>
    <%= f.input :comment %>
    <%= f.submit "Submit bookmark", class: "btn btn-primary" %>
  <% end %>
</div>
